@charset "utf-8";

.big {
    width: 100%;
    font-family: "ＭＳ ゴシック";
    color: #FFFFFF;
	display: flex;
    flex-wrap: wrap;
}
.r {
	float: left;
    width: 70%;
    height: 1500px;
	background-color: #985656;
}
.box {
    width: 300px;
    height: 450px;
    background-color: #985656;
}
img {
    width: 100%;
}
body {
    background-image: url(mise1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.big h2 {
	float: none;
	background-color: #603131;
    width: 100%;
}
.ul {
	background-color: #985656;
    width: 70%;
}
.menu {
    background-color: #603131;
    width: 28%;
    height: 1500px;
}
